# Dependency directories
node_modules/

# Local env files
.env
.env.local
.env.*.local

# Log files
*.log
npm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
